<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Your Trip</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='webpage2/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='webpage2/css/style.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" href="./favicon.png">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
 <script>
  function deleteElement(id)
  {
    $("ul li[data-id=" + id + "]").remove();
	window.location = {{past[0][id]}} + "/delete";
  }
  </script>
 
  </head>
<body> 

<header class="o-header">
  <nav class="o-header-nav">
    <a href="http://fa16-cs411-47.cs.illinois.edu/{{username}}/search" class="o-header-nav__link"><i class="fa fa-arrow-left"></i>   Back to Search</a>
    <h1 class="o-header_title" style="color:white;" align="center">VirtualVoyager</h1>
    <a href="http://fa16-cs411-47.cs.illinois.edu/{{username}}/logout" class="o-header-nav__link"><i class="fa fa-star"></i>Logout  </a>
  </nav>
  <div class="o-container">
    <h1 class="o-header__title">Your Profile</h1>
  </div>
</header>

<main class="o-main">
  <div class="o-container">
    <div class="o-section">

      <div id="tabs" class="c-tabs no-js">
        <div class="c-tabs-nav">
          <a href="#PastTrips" class="c-tabs-nav__link is-active">
            <i class="fa fa-home"></i>
            <span>Past Trips</span>
          </a>
          <a href="#RecTrips" class="c-tabs-nav__link">
            <i class="fa fa-book"></i>
            <span>Recommended Trips</span>
          </a>
        </div>
        <div class="c-tab is-active">
          <div class="c-tab__content">
            <h2>All Past Trips</h2>
            	{% for i in range(past|length) %}
            		<ul>
            			<li data-id="i" class="o-header__title" style="font-size: 20px; font-weight: normal; margin: 0px;"><a href="{{past[0][i]}}"> {{past[1][i]}} </a><input type="button" onclick="deleteElement(i)" value="x"></li>
          			</ul>
          		{% endfor %}
          </div>
        </div>
        <div class="c-tab">
          <div class="c-tab__content">
            <h2>Trips Recommended by Likes</h2>
            	{% for j in range(recommended|length) %}
            		<ul>
            			<li class="o-header__title" style="font-size: 20px; font-weight: normal; margin: 0px;"><a href="{{recommended[1][j]}}"> {{recommended[1][j]}} </a></li>
	       			</ul>
	       		{% endfor %}
	       </div>
        </div>
      </div>

    </div>

    <div class="o-section">
      <div id="github-icons"></div>
    </div>
    <script src="{{ url_for('static', filename='webpage2/js/src/tabs.js') }}"></script>
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });

      myTabs.init();
    </script>
  </div>

</main>

<footer class="o-footer">
  <div class="o-container">
    <small>&copy; 2016, VirtualVoyager</small>
  </div>
</footer>

</body>
</html>

