<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Your Trip</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='webpage2/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='webpage2/css/style.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="apple-touch-icon" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" href="./favicon.png">
  <style>
    .like {
      width: 5vw;
      height: 5vw;
      margin-left: 47.5vw;
    }
    .tripPhoto {
      width: 40vw;
      height: auto;
      margin-left: 8.5vw;
    }
    #street-view {
        height: 100%;
        width: 100%;
    }
  </style>
  <script>
    function sendLikePost(liked) {
      var baseurl = document.getElementById("userURL").getAttribute("data-name");
      var lpnum = document.getElementById("lpnum").getAttribute("data-name");
      var url = baseurl + lpnum + liked;
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", url, true); // true for asynchronous
      xmlHttp.send(null);
    }
    function clickLike() {
      var button = document.getElementById("likebutton");
      var likeMeta = document.getElementById("like-data");
      var liked = likeMeta.getAttribute("data-name");
      if (liked == "True") {
        button.src = document.getElementById("dislike-button-url").getAttribute("data-name");
        likeMeta.setAttribute("data-name", "False");
        sendLikePost("False")
      }
      else {
        button.src = document.getElementById("like-button-url").getAttribute("data-name");
        likeMeta.setAttribute("data-name", "True");
        sendLikePost("True")
      }
    }
  </script>
</head>
<body>

<header class="o-header">
  <meta id="lpnum" data-name="{{lpnum}}/">
  <meta id="userURL" data-name="http://fa16-cs411-47.cs.illinois.edu/{{username}}/search/{{keyword}}/">
  <nav class="o-header-nav">
    <a href="http://fa16-cs411-47.cs.illinois.edu/{{username}}/search" class="o-header-nav__link"><i class="fa fa-arrow-left"></i>   Back to Search</a>
    <h1 class="o-header_title" style="color:white;" align="center">VirtualVoyager</h1>
    <a href="http://fa16-cs411-47.cs.illinois.edu/{{username}}" class="o-header-nav__link">My Profile   <i class="fa fa-star"></i></a>
  </nav>
  <div class="o-container">
    <h1 class="o-header__title">Your {{keyword}} Trip</h1>
  </div>
</header>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoIJcakxVen5qGdu_PsV_ajdl33qwGskI&callback=initialize">
</script>
<main class="o-main">
  <div class="o-container">
    {% for i in range(trip|length) %}
    <div class="o-section">
      <div id="tabs{{ i }}" class="c-tabs no-js">
        <div class="c-tabs-nav">
          <a href="#{{ i }}" class="c-tabs-nav__link is-active">
            <i class="fa fa-home"></i>
            <span>About</span>
          </a>
          <a href="#{{ i }}" class="c-tabs-nav__link">
            <i class="fa fa-book"></i>
            <span>Eat</span>
          </a>
          <a href="#{{ i }}" class="c-tabs-nav__link">
            <i class="fa fa-heart"></i>
            <span>See</span>
          </a>
          <a href="#{{ i }}" class="c-tabs-nav__link">
            <i class="fa fa-calendar"></i>
            <span>Do</span>
          </a>
          <a href="#{{ i }}" class="c-tabs-nav__link">
            <i class="fa fa-cog"></i>
            <span>Street</span>
          </a>
        </div>
        <div class="c-tab is-active">
          <div class="c-tab__content">
            <h2 style='margin-left:26.5vw;'>{{ trip[i]['name'] }}</h2>
            <img class="tripPhoto" src="{{ trip[i]['photo'] }}">
            <p>{{ trip[i]['description'] }}</p>
          </div>
        </div>
        <div class="c-tab">
          <div class="c-tab__content">
            <h2>Try local cuisine!</h2>
            <p>{{trip[i]['eat']}}</p>
          </div>
        </div>
        <div class="c-tab">
          <div class="c-tab__content">
            <h2>Check out local sights!</h2>
            <p>{{ trip[i]['see']}}</p>
          </div>
        </div>
        <div class="c-tab">
          <div class="c-tab__content">
            <h2>Try out new activities!</h2>
            <p>{{ trip[i]['do']}}
          </div>
        </div>
        <div class="c-tab">
          <div class="c-tab__content">
            <h2>Street View</h2>
            <p>Lat { { coords[2*i] } }, Long { { coords[2*i+1] } }</p>
            <div id="street-view"></div>
            <script>
              var panorama;
              function initialize() {
                panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('street-view'),
                    {
                      position: {lat: {{coords[2*i]}}, lng: {{coords[2*i]}} },
                      pov: {heading: 165, pitch: 0},
                      zoom: 0
                    });
              }
            </script>
<!--            <iframe height="400px" width="100%" frameborder="0" scrolling="no" src="{{ url_for('static', filename='webpage2/streetview.html?latitude={{coords[2*i]}}&longitude={{coords[2*i+1]}}') }}" allowfullscreen=""></iframe>
-->
          </div>
        </div>
      </div>
    </div>

    <div class="o-section">
      <div id="github-icons"></div>
    </div>
    <script src="{{ url_for('static', filename='webpage2/js/src/tabs.js') }}"></script>
    <script>
      var myTabs = tabs({
        el: '#tabs{{ i }}',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });

      myTabs.init();
    </script>
    {% endfor %}
  </div>

  <meta id="like-data" data-name="{{liked}}">
  <meta id="like-button-url" data-name="{{ url_for('static', filename='webpage2/likebutton.png') }}">
  <meta id="dislike-button-url" data-name="{{ url_for('static', filename='webpage2/dislikebutton.png')}}">
  {% if liked %}
    <img class="like" onclick="javascript:clickLike()" id="likebutton" src="{{ url_for('static', filename='webpage2/likebutton.png') }}">
  {% else %}
    <img class="like" onclick="javascript:clickLike()" id="likebutton" src="{{ url_for('static', filename='webpage2/dislikebutton.png') }}">
  {% endif %}

</main>

<footer class="o-footer">
  <div class="o-container">
    <small>&copy; 2016, VirtualVoyager</small>
  </div>
</footer>

</body>
</html>
