<!DOCTYPE html><html>
    <head>
        <meta charset="utf-8">
        <title>TRIP</title>        
        <link href="css/styles.css" rel="stylesheet">
  		<link rel="stylesheet" href="kwicks-master/jquery.kwicks.css" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="js/scripts.js"></script>
		<script src="kwicks-master/jquery.kwicks.js"></script>
   </head>
    <body>
    	<a href="user.html">User's Profile</a>
    	
    	<h1 class="center">LOCATION1</h1>
    	<img class="center" src="..." alt="Image of Location1" />
		<p class="center">Description of Location1...<p>
		<ul class='kwicks kwicks-horizontal'>
            <li class='kwicks-selected'><a>DO</a></li>
            <li><a>SEE</a></li>
            <li><a>EAT</a></li>
    	</ul>
    	<img class="maps" src="..." alt="Image from Google Maps" />
    	
    	<h1 class="center">LOCATION2</h1>
    	<img class="center" src="..." alt="Image of Location2" />
		<p class="center">Description of Location2...<p>
		<ul class='kwicks kwicks-horizontal'>
            <li class='kwicks-selected'><a>DO</a></li>
            <li><a>SEE</a></li>
            <li><a>EAT</a></li>
    	</ul>
    	<img class="maps" src="..." alt="Image from Google Maps" />
    	
    	<h1 class="center">LOCATION3</h1>
    	<img class="center" src="..." alt="Image of Location3" />
		<p class="center">Description of Location3...<p>
		<ul class='kwicks kwicks-horizontal'>
            <li class='kwicks-selected'><a>DO</a></li>
            <li><a>SEE</a></li>
            <li><a>EAT</a></li>
    	</ul>
    	<img class="maps" src="..." alt="Image from Google Maps" />
    	
    	<h1 class="center">LOCATION4</h1>
    	<img class="center" src="..." alt="Image of Location4" />
		<p class="center">Description of Location4...<p>
		<ul class='kwicks kwicks-horizontal'>
            <li class='kwicks-selected'><a>DO</a></li>
            <li><a>SEE</a></li>
            <li><a>EAT</a></li>
    	</ul>
    	<img class="maps" src="..." alt="Image from Google Maps" />
    	
    	<h1 class="center">LOCATION5</h1>
    	<img class="center" src="..." alt="Image of Location5" />
		<p class="center">Description of Location5...<p>
		<ul class='kwicks kwicks-horizontal'>
            <li class='kwicks-selected'><a>DO</a></li>
            <li><a>SEE</a></li>
            <li><a>EAT</a></li>
    	</ul>
    	<img class="maps" src="..." alt="Image from Google Maps" />
    	
    	
    	<h5 class="center">LIKE || DISLIKE</h5>
    	<h3><a class = "center" href="index.html">Search for another trip</a></h3> 	
    </body>
    </html>